@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

$primary-color: rgb(242, 242, 242);
$nunito: "Nunito Sans", sans-serif;
$light-background: rgb(242, 242, 242);
$light-color: white;
$dark-background: rgb(32, 44, 54);
$dark-color: black;
$dark-card-color: rgb(43, 56, 68);
