@import "./variables";

:root {
  --svg-color-light: #111517;
  --svg-color-dark: #ffffff;
  --svg-color-inpuit: rgb(132, 132, 132);
}
body {
  background: $light-background;

  color: $dark-color;

  font-family: $nunito;
  margin: 0;
  transition: all 0.3s;
  --svg-input: var(--svg-color-inpuit);
  &.dark-mode {
    background: $dark-background;
    color: $light-color;
    --svg-color: var(--svg-color-dark);
  }
}

.countries__select select option {
  &.dark-mode {
    background: $dark-background;
    color: $light-color;
  }
}

.countries {
  transition: background 0.3s;

  &__card {
    width: 264px;
    height: 336px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);

    transition: background 0.3s;

    body.dark-mode & {
      background: $dark-card-color;
      color: white;
    }

    &-country {
      color: $dark-color;
      body.dark-mode & {
        color: $light-color;
      }
    }

    &-population {
      color: $dark-color;
      body.dark-mode & {
        color: $light-color;
      }
    }

    &-region {
      color: $dark-color;
      body.dark-mode & {
        color: $light-color;
      }
    }

    &-capital {
      color: $dark-color;
      body.dark-mode & {
        color: $light-color;
      }
    }
  }
  &__select select {
    body.dark-mode & {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 20 20"><path d="M10 12L4 6h12z"/></svg>');
    }
  }

  &__select select {
    color: $dark-color;

    body.dark-mode & {
      background-color: $dark-card-color;
      color: $light-color;
    }
  }

  &__input input {
    color: $light-color;
    transition: background 0.3s, color 0.3s;

    body.dark-mode & {
      background: rgb(43, 56, 68);
      color: white;
    }
  }
}

.info {
  &__back button {
    background-color: $light-background;
    color: $dark-color;

    body.dark-mode & {
      background-color: $dark-card-color;
      color: $light-color;
    }
  }
  &__back svg {
    body.dark-mode & {
      fill: white;
    }
  }
}
